/* Base styles */
body {
  margin: 0;
  margin-top: 60px;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Component styles */
header {
  background-color: #2a3b4c;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.header__left {
  font-size: 24px;
}

.header__center {
  text-align: center;
  flex: 1;
  font-size: 18px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.popup.show {
  transform: translateY(0);
}

.popuptext {
  visibility: hidden;
  width: 460px;
  height: 100px;
  font-size: 36px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
  line-height: 100px;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.box {
  width: 30%;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.box img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.box .hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box:hover .hover-content {
  opacity: 1;
}

.box .hover-content h3 {
  color: #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.box .hover-content p {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.box h3 {
  color: #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}

/* Layout styles */
.container,
#myNewContainer {
  display: flex;
  flex-wrap: wrap;
}

/* Section styles */
.section-heading {
  text-align: center;
  font-size: 36px;
  color: #ff5733;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  color: #2a3b4c;
}